In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("Datasets/new/COVID19_open_line_list.csv")
df

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14122,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.drop(df[pd.isnull(df['ID'])].index, inplace=True)  # Get index of points where Embarked is null
df[pd.isnull(df['ID'])]

Empty DataFrame
Columns: [ID, age, sex, city, province, country, wuhan(0)_not_wuhan(1), latitude, longitude, geo_resolution, date_onset_symptoms, date_admission_hospital, date_confirmation, symptoms, lives_in_Wuhan, travel_history_dates, travel_history_location, reported_market_exposure, additional_information, chronic_disease_binary, chronic_disease, source, sequence_available, outcome, date_death_or_discharge, notes_for_discussion, location, admin3, admin2, admin1, country_new, admin_id, data_moderator_initials, Unnamed: 33, Unnamed: 34, Unnamed: 35, Unnamed: 36, Unnamed: 37, Unnamed: 38, Unnamed: 39, Unnamed: 40, Unnamed: 41, Unnamed: 42, Unnamed: 43, Unnamed: 44]
Index: []

[0 rows x 45 columns]

In [12]:
df

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1.0,30,male,"Chaohu City, Hefei City",Anhui,China,1.0,31.646960,117.716600,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,47,male,"Baohe District, Hefei City",Anhui,China,1.0,31.778630,117.331900,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.0,49,male,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,47,female,"High-Tech Zone, Hefei City",Anhui,China,1.0,31.828313,117.224844,point,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,50,female,"Feidong County, Hefei City",Anhui,China,1.0,32.001230,117.568100,admin3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13169,13475.0,60-69,male,Nagoya City,Aichi Prefecture,Japan,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13170,13476.0,40-49,female,NaN,Osaka,Japan,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13171,13477.0,0-10,female,NaN,Osaka,Japan,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13172,13478.0,NaN,female,Amsterdam,NaN,Netherlands,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13173,13479.0,NaN,female,"Jose Joaquin de Olmedo Airport, Guayaquil",Guayas,Ecuador,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13173 entries, 0 to 13173
Data columns (total 45 columns):
ID                          13173 non-null float64
age                         1348 non-null object
sex                         1263 non-null object
city                        10194 non-null object
province                    12906 non-null object
country                     13148 non-null object
wuhan(0)_not_wuhan(1)       13170 non-null float64
latitude                    13147 non-null float64
longitude                   13147 non-null float64
geo_resolution              13147 non-null object
date_onset_symptoms         746 non-null object
date_admission_hospital     730 non-null object
date_confirmation           13089 non-null object
symptoms                    493 non-null object
lives_in_Wuhan              565 non-null object
travel_history_dates        503 non-null object
travel_history_location     758 non-null object
reported_market_exposure    35 non-null object
additional_information      2412 non-null object
chronic_disease_binary      18 non-null float64
chronic_disease             13 non-null object
source                      12950 non-null object
sequence_available          1 non-null object
outcome                     184 non-null object
date_death_or_discharge     93 non-null object
notes_for_discussion        187 non-null object
location                    1024 non-null object
admin3                      1159 non-null object
admin2                      9068 non-null object
admin1                      12877 non-null object
country_new                 13079 non-null object
admin_id                    13103 non-null object
data_moderator_initials     17 non-null object
Unnamed: 33                 0 non-null float64
Unnamed: 34                 0 non-null float64
Unnamed: 35                 0 non-null float64
Unnamed: 36                 0 non-null float64
Unnamed: 37                 0 non-null float64
Unnamed: 38                 0 non-null float64
Unnamed: 39                 0 non-null float64
Unnamed: 40                 0 non-null float64
Unnamed: 41                 0 non-null float64
Unnamed: 42                 0 non-null float64
Unnamed: 43                 0 non-null float64
Unnamed: 44                 0 non-null float64
dtypes: float64(17), object(28)
memory usage: 4.6+ MB

In [18]:
df = df.iloc[:,:-12]

In [21]:
df.drop("ID", inplace=True, axis = 1)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13173 entries, 0 to 13173
Data columns (total 32 columns):
age                         1348 non-null object
sex                         1263 non-null object
city                        10194 non-null object
province                    12906 non-null object
country                     13148 non-null object
wuhan(0)_not_wuhan(1)       13170 non-null float64
latitude                    13147 non-null float64
longitude                   13147 non-null float64
geo_resolution              13147 non-null object
date_onset_symptoms         746 non-null object
date_admission_hospital     730 non-null object
date_confirmation           13089 non-null object
symptoms                    493 non-null object
lives_in_Wuhan              565 non-null object
travel_history_dates        503 non-null object
travel_history_location     758 non-null object
reported_market_exposure    35 non-null object
additional_information      2412 non-null object
chronic_disease_binary      18 non-null float64
chronic_disease             13 non-null object
source                      12950 non-null object
sequence_available          1 non-null object
outcome                     184 non-null object
date_death_or_discharge     93 non-null object
notes_for_discussion        187 non-null object
location                    1024 non-null object
admin3                      1159 non-null object
admin2                      9068 non-null object
admin1                      12877 non-null object
country_new                 13079 non-null object
admin_id                    13103 non-null object
data_moderator_initials     17 non-null object
dtypes: float64(4), object(28)
memory usage: 3.9+ MB

In [24]:
df.country.unique()

array(['China', 'France', 'Japan', 'Malaysia', 'Nepal', 'Singapore',
       'South Korea', nan, 'Thailand', 'United States', 'Vietnam',
       'Australia', 'Canada', 'Cambodia', 'Sri Lanka', 'Germany',
       'United Arab Emirates', 'Finland', 'Philippines', 'India', 'Italy',
       'United Kingdom', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Egypt',
       'Iran', 'Lebanon', 'North Macedonia', 'Kuwait', 'Pakistan',
       'Greece', 'Oman', 'Afghanistan', 'Algeria', 'Switzerland',
       'Austria', 'Brazil', 'Romania', 'Norway', 'Georgia', 'Iraq',
       'Bahrain', 'Croatia', 'Nigeria', 'Netherlands', 'Estonia',
       'Israel', 'San Marino', 'Lithuania', 'Ecuador'], dtype=object)

In [25]:
italy = df[df["country"] =="Italy"]

In [27]:
italy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 588 entries, 3197 to 13112
Data columns (total 32 columns):
age                         19 non-null object
sex                         21 non-null object
city                        78 non-null object
province                    588 non-null object
country                     588 non-null object
wuhan(0)_not_wuhan(1)       588 non-null float64
latitude                    587 non-null float64
longitude                   587 non-null float64
geo_resolution              587 non-null object
date_onset_symptoms         3 non-null object
date_admission_hospital     3 non-null object
date_confirmation           588 non-null object
symptoms                    1 non-null object
lives_in_Wuhan              1 non-null object
travel_history_dates        5 non-null object
travel_history_location     9 non-null object
reported_market_exposure    0 non-null object
additional_information      535 non-null object
chronic_disease_binary      0 non-null float64
chronic_disease             0 non-null object
source                      588 non-null object
sequence_available          0 non-null object
outcome                     7 non-null object
date_death_or_discharge     7 non-null object
notes_for_discussion        92 non-null object
location                    64 non-null object
admin3                      0 non-null object
admin2                      1 non-null object
admin1                      571 non-null object
country_new                 571 non-null object
admin_id                    571 non-null object
data_moderator_initials     0 non-null object
dtypes: float64(4), object(28)
memory usage: 151.6+ KB

In [30]:
# Create table for missing data analysis
def draw_missing_data_table(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [31]:
draw_missing_data_table(italy)

                          Total   Percent
data_moderator_initials     588  1.000000
reported_market_exposure    588  1.000000
admin3                      588  1.000000
sequence_available          588  1.000000
chronic_disease             588  1.000000
chronic_disease_binary      588  1.000000
admin2                      587  0.998299
symptoms                    587  0.998299
lives_in_Wuhan              587  0.998299
date_onset_symptoms         585  0.994898
date_admission_hospital     585  0.994898
travel_history_dates        583  0.991497
date_death_or_discharge     581  0.988095
outcome                     581  0.988095
travel_history_location     579  0.984694
age                         569  0.967687
sex                         567  0.964286
location                    524  0.891156
city                        510  0.867347
notes_for_discussion        496  0.843537
additional_information       53  0.090136
admin1                       17  0.028912
country_new                  17  0.028912
admin_id                     17  0.028912
longitude                     1  0.001701
latitude                      1  0.001701
geo_resolution                1  0.001701
wuhan(0)_not_wuhan(1)         0  0.000000
country                       0  0.000000
province                      0  0.000000
date_confirmation             0  0.000000
source                        0  0.000000

In [33]:
italy["date_confirmation"].value_counts()

27.02.2020    249
24.02.2020    102
25.02.2020     94
26.02.2020     79
22.02.2020     44
21.02.2020     17
31.01.2020      2
06.02.2020      1
Name: date_confirmation, dtype: int64

In [35]:
 import folium
worldmap = folium.Map(location=[32.4279,53.6880 ], zoom_start=4,tiles='Stamen Toner')

for Lat, Long, state in zip(df['latitude'], df['longitude'],df['province']):
    folium.CircleMarker([Lat, Long],
                        radius=5,
                        color='red',
                      popup =('State: ' + str(state) + '<br>'),
                        fill_color='red',
                        fill_opacity=0.7 ).add_to(worldmap)
worldmap

ModuleNotFoundError: No module named 'folium'

In [36]:
! pip install folium

Collecting folium

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000002B2D5E6E7C8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/folium/
  WARNING: Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000002B2D5E98C88>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/folium/
  WARNING: Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000002B2D5E98D08>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/folium/
  WARNING: Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000002B2D5E9F4C8>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/folium/
  WARNING: Retrying (Retry(total=0, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x000002B2D5E9FD88>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed')': /simple/folium/
  ERROR: Could not find a version that satisfies the requirement folium (from versions: none)
ERROR: No matching distribution found for folium